@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
:root {
  --main-red: #EB1C24;
  --main-black: #000000;
  --main-gray-line: #DADADA;
  --serach-bar-text: #9E9E9E;
  --serach-bar-fill: #FAFAFA; 
}  
a.mds_wishlist {
    position: absolute; 
    background: var(--main-red);
    top: 0;
    right: 15px;
    border-radius: 0 10px 0 0;
    width: 34px;
    height: 34px; 
}
 img.viz-ic-download{
    /*position: absolute;
    background: var(--main-red);
    top: 0;
    right: 15px;
    border-radius: 0 10px 0 0;
    width: 32px;
    height: 32px; */
}
.pdf-main{
    margin: 2px;
    border-radius: 12px;
    border: 4px solid var(--main-red);
    padding: 10px;
}
.pdf-header img{
    float: right; 
    width: 120px;
}
.pdf-header{
    border-bottom: 2px solid;
    padding-bottom: 5px;
    text-align: center;
} 
.pdf-body h2{
    font-weight: bold;
    color: #c4080f;
    margin: 5px 0;
    font-size: 11px;
}
.pdf-body img{
    margin: 0 auto; 
} 
.pdf-content{
    border-top: 2px solid #333;
    margin-top: 5px;
}
.pdf-content h2{
    border: 0.8px solid;
    display: flow-root;
    font-size: 9px;
    padding: 0px 2px;  
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    line-height: 12px;
}
.pdf-content h2 span{
    font-weight: 600;
    padding: 0px 2px;
}
#downloadable {
    padding: 5px;
    max-width: 350px;
}
#downloadable-img {
    width: 100%;
}
.pdf-footer{
    border-top: 2px solid #333;
    margin-top: 10px;
    text-align: center;
}
.pr-color{
    color: var(--main-red);
}
.bl-color{
    color: #05059a;
}
.pdf-footer h5{
    font-weight: bold;
    font-size: 10px;
    line-height: 10px;
}
.pdf-footer p{
    font-size: 9px;
} 
a span#wishlistCount{
    background: #fff;
    color: var(--main-red);
    padding: 1px 4px;
    position: relative;
    top: -6px;
    right: 20px;
    border-radius: 15px;
    font-size: 10px;
    border: 1px solid var(--main-red);
}
.more-rooms-dots{
    position: absolute;
    bottom: -12px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.more-rooms-dots a.dot{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: 1px solid var(--main-red);
    border-radius: 10px;
} 
.more-rooms-dots a.active{
    background-color: var(--main-red); 
    border: 1px solid var(--main-red);
}
form .error{
    color: #eb1c24;
}
.w-250-p{
    width: 250px;
}
.cl-di-dp a{
    float: right;
    border: 1px solid #000;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -6px;
    right: -6px;
    background: #fff;
    border-radius: 50%;
    font-size: 11px;
}
.f-s-18{
  font-size: 18px;
}
.common_portrait_modal{
  background: var(--main-red) !important;
}
.product_videos_d{
    margin-top: 30px;
}
.product_videos_d iframe{
    width:100%;
    height:200px
}
.product_videos_d p.v-f-s{
    font-size: 20px;
    line-height: 28px;
}
.sm-new-logo-designs{
    position: absolute;
    bottom: 56px;
    border-radius: 0 0 0 4px !important;
    left: 15px;
    width: 32px;
    height: 32px;
}
.top_serach_bar{
    font-family: 'Montserrat', sans-serif, FontAwesome;
    border: 1px solid #9e9e9e;
    border-radius: 8px;
}
#how_to_use_video{
    width: 100%;
    height: calc( 100vh - 94px);
    position: relative;
    z-index: 99; 
}
.int_hide{
    display: none;
}
img#init-home-page-loader{
    width: 100%;
    height: 100vh;
}
.more-details-section{
  display: none;
}
a.pr-ic-delete-section img {
    position: absolute;
    bottom: 5px;
    border-radius: 0 0 0 4px !important;
    left: 15px;
    width: 32px;
    height: 32px;
}
a.similar-ic-delete-section img{
    position: absolute;
    bottom: 90px;
    border-radius: 0 0 0 4px !important;
    left: 0px;
    width: 36px !important; 
}
.land-filter-dropdowns .dropdown-menu>li>a{
    padding: 3px 10px !important; 
}
.land-filter-dropdowns .dropdown-menu{
    min-width: 115px;
    border: 0;
}
.mds_viewed_item p{
    color: #333;
}
.dropdown-menu-sub{
    position: relative !important;
}
p.f-l-s{
    font-size: 13px;
    line-height: 17px;
}
.mds_viewed_slider_container{
    overflow-x: auto;
    white-space: nowrap;
}
.mds_viewed_slider_container p{
    color: #333;
    white-space: pre-line;
    overflow: hidden;
    min-height: 120px;
}
.mds_viewed_slider_container .item{
    display: inline-block;
    float: none;
    width: 50%;
} 
.tab-content .app-scene ul.nav-tabs{
  box-shadow: 0px 0px 8px 0px #ff000024 !important;
  border-radius: 8px !important;
}
.tab-content .nav-tabs>li { 
    margin-bottom: 0 !important;
}

.mds_close_modal{
  float: right !important;
  margin-top: -35px !important;
  padding: 2px 3px !important;
  opacity: 1 !important;
  font-size: 32px !important;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-0{
    margin-bottom: 0 !important;
}
.h-a{
    height:auto !important;
}
#mds_loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
}
#mds_loader2 {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: #fff;
  z-index: 99;
}
#mds-loader-image {
  z-index: 100;
}
label.mb_finish{
    padding: 4px 0;
    color: var(--main-black); 
    box-shadow: 0 0 1px var(--main-red);
    border-radius: 8px;
    width: 100%;
}
label.finish{
    padding: 5px 0;
    color: var(--main-black); 
    box-shadow: 0 0 1px var(--main-red);
    border-radius: 8px;
    width: 100%;
}
label.finish input[name=finish] , label.mb_finish input[name=finish]{
   opacity: 0; 
   margin: 0;
} 
label.mb_finish input[name=finish]{
   position: absolute;
} 

label.selected-finish{
    /*background: var(--main-red);
    color: #fff;*/
    border-bottom: 2px solid var(--main-red);
    border-radius: 8px 8px 0 0;
}
#ul-design-list, .ul-design-list {
    list-style: none;
    padding: 0;
    position: absolute;
    z-index: 9999;
    width: 91%;
    max-height: 320px;
    overflow-y: scroll;
}
#ul-design-list li, .ul-design-list li {
    padding: 10px;
    background: #f0f0f0fc;
    border: #bbb9b95e 1px solid;
    cursor: pointer;
}
a.ic-delete-section img{
    position: absolute;
    bottom: 0;
    background: var(--main-red);
    border-radius: 0 0 0 4px !important;
    left: 0;
    width: 32px;
    height: 32px;
}
h1, h2, h3, h4, h5{
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em; 
}
.rooms-scene .nav-tabs>li>a b{
  color: #333 ;
} 
.rooms-scene .nav-tabs>li.active>a b{
  color: var(--main-red);
  border-bottom: 2px solid var(--main-red); 
} 
.rooms-scene .nav-tabs>li.active>a , .rooms-scene .nav-tabs>li>a{
  padding: 0;
}
.rooms-scene ul li {
    width: 50%; 
}
.bg-block{
  background-repeat:no-repeat;
  height: calc( 657 * ( 100vw - 30px ) /1280 );
  width: calc( 100vw - 30px);
  background-size: contain;
  background-attachment: scroll;
  background-position: center top;
  border-radius: 10px;
  background-color: black;
}
.m-v-m{
    margin-top: 0;
    margin-bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.common-modal{
  overflow-y: scroll;
  background: #00000075;
}
.w-100-p{
  width: 100%;
}
@media (orientation: landscape){ 
   .landscape-slider{
        width: 75vw !important;
    }
    .landscape-filter{
        width: 25% !important; 
        width: 25vw !important;
    }
    .portrait-view , .portrait-finish, .scene-page-navbar{
        display: none;
    } 
   .bg-block { 
      height: calc( 657 * (75vw - 30px )/1280 );
      width: calc( 75vw - 30px);
    }
    .view-all-laminates .e-app-sc a img {
        height: calc( 100vh - 0px ) !important;
    }
    .ls-50-perc{
        width: 50%;
        float: left;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (orientation: portrait){
   .landscape-filter{
        display: none;
   }
   .landscape-view{
        display: none;
   }
}

.land-filter-dropdowns{
    display: none;
}
.landscape-filter{
    max-height: calc( 100vh - 110px); 
}
.landscape-view-best-designs{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc( 100vh - 168px );
}
.mds_mobile_best_selling_designs .item p {
    font-size: 12px;
    line-height: 14px;
    margin-top: -4px;
}
.landscape-filter a{
    color: #333;
    text-decoration: none;
    display: block;
}
.land-filter-dropdowns .dropdown{
    margin-bottom: 6px;
}
.landscape-filter .caret{
    float: right;
    margin-top: 8px;
    display: block;
} 
.mt-10{
  margin-top: 10px;
}
.k-c-b{
  margin-top: 4em;
  padding: 4rem 15px;
  border-radius: 3rem 3rem 0 0;
  box-shadow: 0px 0px 4px 1px #eb1c2426;
}
.k-c ul{
    padding: 0;
    list-style: none;
}
.k-c ul p{
  border-bottom: 1px solid #3333338f;
  padding-bottom: 5px;
}
.k-c ul p a{
  font-size: 17px;
  color: #333;
  display: block;
  text-decoration: none;
}
.k-c ul p a img{
  margin-right: 15px;
  border-radius: 10px;
}
.k-c ul p a span{
  float: right;
  margin-top: 15px;
}
.mds-carousel-inner img{
    width: 100%;
}
.mds-carousel-inner img , .mds-carousel-inner .item{
    border-radius: 8px;
}  
.mb-10{
    margin-bottom: 10px;
}
.mb-6{
    margin-bottom: 6px;
}
.a-l-sc hr{
    margin: 10px 0;
}
.a-l-sc p{
    margin-bottom: 15px;
    display: flow-root;
}
.mds-a-l .carousel-indicators{
    bottom: -35px !important;
}
.mds-a-l .carousel-indicators li{
    background-color: var(--main-red);
    border: 1px solid var(--main-red);
    width: 6px !important;
    height: 6px !important;
    margin: 1px 2.5px !important;
}
.hr-imp{
  margin: 0 0 10px 0;
}
.o-a{
  overflow: auto;
}
ul.filter-l-s-ul{  
  white-space: nowrap;
  padding: 0;
}
.pd-0{
  padding: 0;
}
ul.filter-l-s-ul li.l-s{
  display: inline-block;
  margin-right: 20px;
}
ul.filter-l-s-ul li.l-s a{
  color: #333;
  text-decoration: none;
} 
ul.filter-l-s-ul li.l-s a.active{
  color: var(--main-red) !important;
  font-weight: 500;
} 
ul.dropdown-menu-1{
  float: left;
  margin-top: -5px;
  padding: 5px 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}
ul.dropdown-menu-1 li a{
  display: block;
  padding: 2px 10px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: break-spaces;
  font-size: 12px;
  text-decoration: none !important;
  z-index: 1;
  width: 130px;
  border-bottom: 1px solid #3333331a;
}
.dropdown-menu-sub{
  display:none;
  position: absolute;
  z-index: 9999;
}
.p-apply-laminate-scene{
  margin: 10px 0;
}
a.btn-apply-laminate-scene{
  color: var(--main-red) !important;
  border: 1px solid;
  padding: 8px 30px;
  font-weight: bold;
  border-radius: 6px;
}
.mds_viewed_item p{
    font-size: 12px;
 }
 .mds_viewed_image img{
    border-radius: 4px;
    margin-bottom: 4px;
 }
 .mds_viewed_image.active img{
     border: 2px solid var(--main-red) !important;
 }
.c-main-red{
    color:  var(--main-red) !important;
}
.sl-dgn hr{
  margin: 5px 0 !important;
}
.share-design{
  border-radius: 15px 15px 0 0px;
  box-shadow: 1px 1px 14px #333333a8;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #fff;
  min-height: 150px;
  padding: 15px 0;
  display: none; 
}
a.v-m-s{
  color: var(--main-red);
  float: right;
  text-decoration: underline;
}
p.sd-p{
  margin-top: 8px;
}
p.sd-p a{
  color: #333;
}
p.sd-p a img{
  /*width: 30px;
  height: 30px;*/
  width: 20px;
}
a.explore-s-d{
  color:  var(--main-red) !important;
  border: 1px solid;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 6px;
}
.sl-dgn img.s-main-p{
  border-radius: 4px;
  margin-bottom: 5px;
}
.s-c-lmt a p , .sl-dgn .d p , p.e-h-e{
  margin: 0px; 
  color: #333;
  width: auto;
  height: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
} 
.sl-dgn .d p{
    margin: 8px 0px !important; 
}
.e-lmt, .s-c-lmt, .sl-dgn{
  margin-bottom: 20px;
}
.e-lmt a img , .s-c-lmt a img{
  border-radius: 4px;
  border: 1px solid #33333321;
}
.e-lmt a p{
  margin-top: 6px; 
  color: #333;
  width: auto;
  height: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
} 
.mt-5em{
  margin-top: 5em; 
}
.btn-default{
  color: var(--main-red) !important;
  background-color: #fff !important;
  border-color: var(--main-red) !important;
  padding: 6px 5rem;
  border-radius: 6px;
  outline: 0 !important;
}
.mb-7rem{
  margin-bottom: 7rem;
}
.c-u-f form .form-control{
  height: 38px;
  padding: 4px 12px; 
}
.mr-2{
  margin: 2px;
}
.mr-0{
  margin: 0;
}
.c-u{
  margin-top: 1.5rem;  
  border-radius: 3rem 3rem 0 0;
}
.c-u a img{
  border-radius: 20px; 
  width: 100%;
}
.c-u a .overlay{
  position: absolute;
  bottom: 0;
  text-align: center;
  display: block;
  width: 100%;
  border-radius: 0 0 20px 20px;
  background: #ffffff52;
  padding: 2px;
  color: #333;
}
.c-u .section{
  position: relative;
  margin-bottom: 35px;
} 
.app-scene .nav-tabs , .app-scene .nav-tabs>li.active>a , .rooms-scene .nav-tabs , .rooms-scene .nav-tabs>li.active>a{ 
  border: 0;
}
.app-scene .nav-tabs>li.active>a{
  background: var(--main-red);
  color: #fff;
  border-radius: 8px;
}
.app-scene .empty {
    margin-left: 15px;
    margin-right: 15px;
}
.e-app-sc{
  margin-bottom: 20px;
}
.e-app-sc a img{
  border-radius: 10px;
  height: calc( 0.52*( 100vw - 34px ));
}
.e-app-sc a p{
  margin-top: 3px; 
  color: #333;
}
a.t-d-none{
  text-decoration: none;
}
a.t-d-u , .t-d-u{
  text-decoration: underline;
}
.app-scene ul li a{
  padding: 5px 0;
  color: var(--main-black);
  background: #fff;
 /* box-shadow: 0 0 3px var(--main-red);*/
  border-radius: 8px;
}
.app-scene ul li{
  width: 50%;
  text-align: center;
}
.cbmb span.active{
  color: var(--main-red);
  border-bottom: 2px solid var(--main-red);
  padding-bottom: 2px;
}
.mb-50{
  margin-bottom: 50px;
}
.mb-40{
  margin-bottom: 40px;
}
.mb-20{
  margin-bottom: 20px;
}
.mt-0{
  margin-top: 0;
}
body.how_to_use .a-content .img-icon img{
  width: 35px;
  background: var(--main-red);
  border-radius: 50%;
}
body.how_to_use .a-content{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #d9e0e470;
  text-align: center;
  padding: 8px 0 4px;
  border-radius: 0 0 15px 15px;
  top: 0;
}
body.how_to_use .a-content .img-icon{
  position: relative;
  top: 40%;
}
body.how_to_use{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.fs-bks{
  margin-top: 2.5rem;
  background: #f8f8f8;
  padding: 4rem 15px;
  border-radius: 3rem 3rem 0 0;
}
.fs-bks a img{
  border-radius: 20px; 
  width: 100%;
}
.fs-bks a .overlay{
  position: absolute;
  bottom: 0;
  text-align: center;
  display: block;
  width: 100%;
  border-radius: 0 0 20px 20px;
  background: #00000057;
  padding: 2px;
  color: #fff;
}
.fs-bks .section{
  position: relative;
  margin-bottom: 35px;
}
.mt-20{
  margin-top: 20px;
}
.mr-20{
  margin-right: 20px;
}  
.f-r{
  float: right;
}
.home-body{
  margin-bottom: 40px;
}
.home-body .a-section{
  position: relative;
}
.home-body img.bg-main{
  width: 100%;
  border-radius: 15px;
}
.home-body .a-content{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #d9e0e4cc;
  text-align: center;
  padding: 8px 0 4px;
  border-radius: 0 0 15px 15px;
}
.home-body .img-icon{
  background: var(--main-black);
  height: 30px;
  width: 30px;
  display: block;
  border-radius: 50%;
  margin: 0 auto; 
}
.home-body .img-icon img{
  width: 30px;
}
.home-body .a-content p{
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
  line-height: 20px;
}
a.a-redirect{
  color: var(--main-black);
}  
img.logo{ 
  width: 80px;
}
.mb-15{
  margin-bottom: 15px;
}
.mt-15{
  margin-top: 15px;
}
.mds-bf-section a{
  color: #fff;
  text-decoration: none;
}
.mds-bf-section a img{
  width: 22px;
  height: 22px;
}
.mds-bf-section a span{
  display: block; 
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0em;  
}
.mds-navbar-bf { 
  background-color: var(--main-red); 
  border-color: var(--main-red); 
  border-radius: 15px 15px 0 0;
  padding: 4px 0;
}
.img-thumb {
    height: calc( 0.52* (100vw - 30px ));
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.top-red{
    background: #EB1C24;
    padding-bottom: 68px;
    padding-top: 20px;
    color: white; 
}
.container-main{
    border-radius: 40px 40px 0px 0px;
    margin-top: -65px;
    background: white;
    padding-top: 35px;
}
.top-red p{
    font-size: large;
}
.submit{
    font-weight: 600;
    padding: 12px;
    margin-top: 27px;
    border-radius: 10px;
    width: 100%;
}
.sign-up{ 
    color: #9E9E9E;
}
.sign-up span{
    color: var(--main-red);
}
.sign-up-q{ 
    margin-top: 35px;
    z-index: 22;
    width: -webkit-fill-available; 
}
.otp-container{
    text-align: center;
}
.otp-input {
    width: 60px;
    height: 60px;
    text-align: center;
    align-self: center;
    border: 1px solid #CFCFCF;
    border-radius: 10px;
}
.otp-input:focus-visible{
    border: 1px solid #EB1C24;
    outline: 1px solid #EB1C24;
}
.otp-in{
    text-align: center;
    display: flex;
    align-content: center;
    margin-top: 23px;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
}
.btm-timer{
    display: flex; 
} 
.btm-timer .resend{
    text-align: end;
    flex: auto;
    margin-right: 8px;
    color: #EB1C24; 
}
.signup{
    /* position: fixed; */
    bottom: 180px;
    font-weight: 600;
    padding: 12px;
    border-radius: 10px;
    width: 100%;
}
.sign-in-q{
  /* bottom: 60px;
    position: fixed; */
    z-index: 22;
    margin-top: 15px;
    width: -webkit-fill-available;
}
.fs-match{
    margin-top: 2.5rem;
    /* padding: 4rem 15px; */
    border-radius: 3rem 3rem 0 0;
}
.fs-match img{
  width: 100%;
  /* margin-top: 25px; */
}
.fs-match hr{
    border: 0.75px solid #EB1C24;
    color: #EB1C24;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 35%;
}
.fs-match .or-p{ 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 15px;
    color: black;
    margin-top: 18px; 
}
.match-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    margin-top: 45px;
    font-size: smaller;
    color: #000000;
}
.match-text ol{
    margin-left: -22px;
}
.match-text h6{
    font-size: 15px;
}
.fs-match .image-upload > input{
    display: none;
}
.fs-match .image-upload img{ 
    cursor: pointer;
}
.profile_text{
    margin-left: 10px;
}
.profile_text span{
    margin-left: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #9E9E9E;
}
p.sd-p2 a {
    color: #333;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
}
.d-none{
    display: none;
}
.octopus a.mds_wishlist img{
    margin: 6px 0px 0 5px;
    width: 24px;
}
.downloadPreviewLaminate {
    float: right;
    background-color: #EB1C24;
    padding: 6px;
    border-radius: 0 10px 0 0;
}
